{% extends "catalog/layout.html" %}

{% block content %}
    <h1>Title: {{ book.title }}</h1>

    <p>Author: <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
    <p>Summary: {{ book.summary }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    <p>Language: {{ book.language }}</p>
    <p>Genre: {{ book.genre.all|join:", " }}</p>

    <!-- If at least 1 instance is available, can borrow -->
    {% if book.is_available %}
        <p>{{ book.title }} is available to borrow!</p>
        <form method="post" action="{% url 'borrow' book.id %}">
            {% csrf_token %}
            <button type="submit">Borrow</button> <!-- also add on homepage-->
        </form>

    <!-- If book is borrowed by current user, display return button -->
    <!-- If by another user, display reserve button -->
    {% else %}
        <p>{{ book.title }} is currently unavailable.</p>
        <form method="post" action="">
             {% csrf_token %}
             <button type="submit">does nuthin (reserve)</button>
        </form>
    {% endif %}


    <!-- whats the point of displaying all instances -->
    <div style="margin-left:20px;margin-top:20px">
        <h4>Copies</h4>

        {% for copy in book.bookinstance_set.all %}
            <hr />
            <p
                class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
                {{ copy.get_status_display }}
            </p>
            {% if copy.status != 'a' %}
                <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
            {% endif %}
            <p>Imprint: {{ copy.imprint }}</p>
            <p class="text-muted">Id: {{ copy.id }}</p>
        {% endfor %}
    </div>
{% endblock content %}